@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #292929;
}

.header {
    background: #2C2C2C;

    display: grid;
    grid-template-columns: auto auto;

    width: 100%;
    padding: 10px 32px;

    box-shadow: -1px 10px 28px 11px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -1px 10px 28px 11px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -1px 10px 28px 11px rgba(0, 0, 0, 0.1);
}

.header .header_brand-link svg {
    height: 100%;
    border-radius: 6px;
}

.header .header_nav {
    position: fixed;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);

    list-style: none;
    background: #3D3D3D;
    border-radius: 16px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 6px 8px;

    box-shadow: -1px 10px 28px 11px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -1px 10px 28px 11px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -1px 10px 28px 11px rgba(0, 0, 0, 0.1);

    transition: all .2s ease-in;
}

.header .header_nav .header_nav-item {
    padding: 8px;
    border-radius: 10px;
    transition: all .2s ease-in;
}

.header .header_nav .header_nav-item:hover {
    background: #525252;
}

.header .header_nav .header_nav-item .item_link svg {
    color: #707070;
    transition: all .2s ease-in;
}

.header .header_nav .header_nav-item:hover .item_link svg {

    color: #CCCCCC;
}